@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

/* ::selection {
  background-color: #111827;
  color: #e5e7eb;
}

.dark ::selection {
  background-color: #e5e7eb;
  color: #111827;
} */

::selection {
  background-color: #009c46;
  color: #ffffff;
}

.dark ::selection {
  background-color: #28292d;
  color: #0ffa79;
}
